{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Создать вакансию{% endblock %}

{% block content %}
<h1 class="mb-4">Создать новую вакансию</h1>

<div class="card">
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success mt-3">Создать вакансию</button>
            <a href="{% url 'vacancy_list' %}" class="btn btn-outline-secondary mt-3">Отмена</a>
        </form>
    </div>
</div>
{% endblock %}