{% extends "jobs/base.html" %}
{% block title %}Создать резюме{% endblock %}
{% block hero_title %}Создать резюме{% endblock %}
{% block hero_text %}Заполни профиль студента, и его можно будет использовать в заявках.{% endblock %}

{% block content %}
<div class="form-card">
  <div class="card">
    <form method="post" class="form">
      {% csrf_token %}

      <p>
        <label for="{{ form.student_full_name.id_for_label }}">Имя и фамилия</label>
        {{ form.student_full_name }}
        {{ form.student_full_name.errors }}
      </p>

      <p>
        <label for="{{ form.student_email.id_for_label }}">Email</label>
        {{ form.student_email }}
        {{ form.student_email.errors }}
      </p>

      <p>
        <label for="{{ form.phone.id_for_label }}">Телефон</label>
        {{ form.phone }}
        {{ form.phone.errors }}
      </p>

      <p>
        <label for="{{ form.title.id_for_label }}">Название резюме</label>
        {{ form.title }}
        {{ form.title.errors }}
      </p>

      <p>
        <label for="{{ form.summary.id_for_label }}">Описание</label>
        {{ form.summary }}
        {{ form.summary.errors }}
      </p>

      <p>
        <label for="{{ form.file_name.id_for_label }}">Имя файла</label>
        {{ form.file_name }}
        {{ form.file_name.errors }}
      </p>

      <p>
        <label for="{{ form.is_primary.id_for_label }}">Основное резюме</label>
        {{ form.is_primary }}
        {{ form.is_primary.errors }}
      </p>

      <div class="actions">
        <button type="submit">Сохранить</button>
        <a class="btn" style="background:#64748b; box-shadow:none;" href="{% url 'resume_list' %}">Назад</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}